<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".AddEmergencyContactsActivity"
            android:exported="false" />
        <activity
            android:name=".TowingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".FindTowingActivity"
            android:exported="false" />
        <activity
            android:name=".RepairRequestDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MechanicDetailsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />

        <service
            android:name=".MechanicLocationService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <activity
            android:name=".ServiceRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".TowingProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RepairRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".MechanicProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DriverProfileActivity"
            android:exported="false" />
        <activity
            android:name=".FindMechanicsActivity"
            android:exported="false" />
        <activity
            android:name=".LocationTracker"
            android:exported="false" />
        <activity
            android:name=".TowingDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".MechanicDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".DriverDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".TowingRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".DriverRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".MechanicRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".UserTypeSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>
